//-----------------------------------------------------------------------
// 
//  Layout » Content
// 
//  Contains all content configurations.
// 
//-----------------------------------------------------------------------


.l-content-page-title
  h1
    +adjust-font-size-to(42px)
    +adjust-leading-to(4, 42px)
    float: left
    margin-left: 25px
  span
    +pre(2)


.l-content-title
  +leading-border($width: 1px, $lines: 0, $font-size: $base-font-size)
  +rhythm($leader: 2, $trailer: 1, $font-size: 18px)
  border-color: #ccc
  height: $base-line-height * 2
  position: relative
  span
    +leading-border($width: 3px, $lines: 0, $font-size: $base-font-size)
    top: -2px
    border-color: #66a436
    position: absolute

.l-content-highlight
  +rhythm($padding-leader: 3, $trailer: 2)
  +trailing-border($width: 1px, $lines: 3)
  background: url("primary-subscription-background-pattern.png") center top repeat-x
  border-color: #ccc