//-----------------------------------------------------------------------
// 
//  Layouts » Plans
// 
//  Contains Plans layout configurations.
// 
//-----------------------------------------------------------------------


.l-plans
  +pie-clearfix
  +margin-leader(4)
  .plan
    float: left
  .plan-hightlight
    left: -15px
    top: -37px
    position: relative
    width: 303px

.l-plan-last
  margin-left: -23px