//-----------------------------------------------------------------------
// 
//  Modules » Buttons
// 
//  Contains all buttons configurations.
// 
//-----------------------------------------------------------------------

//--------------- Green Button ---------------//

.btn
  +border-radius(6px)
  +text-shadow(#000 0px 1px 1px)
  +box-shadow(1px 1px 2px rgba(205,201,195,.25), inset 1px 1px 1px rgba(255,255,255,.65))
  +background-image(linear-gradient(bottom, #609a3b, #94d46c))
  display: block
  background-color: #91d069
  border-top: 1px solid #94ba7c
  border-left: 1px solid #7d9e68
  border-right: 1px solid #7d9e68
  border-bottom: 1px solid #4a6638
  text-align: center
  padding: 10px
  width: 280px
  color: #fff
  &:hover
    text-decoration: none
    background-color: #91d069
    +background-image(linear-gradient(top, #4d8729, #72ad4d))
    +box-shadow(1px 1px 2px rgba(205,201,195,.25), inset 1px 1px 1px rgba(255,255,255,.65))
    border-top: 1px solid #94ba7c
    border-left: 1px solid #7d9e68
    border-right: 1px solid #7d9e68
    border-bottom: 1px solid #4a6638
