//-----------------------------------------------------------------------
// 
//  Modules » Icons
// 
//  Contains all icons configurations.
// 
//-----------------------------------------------------------------------

//--------------- Footer Contact Icon ---------------//

.contact-footer-icon
  +small-elements-sprite("contact-footer-icon", $offset-x: 0px, $offset-y: 0px)
  display: block
  width: 73px
  height: 73px
  float: left