//-----------------------------------------------------------------------
// 
//  Modules » Logo
// 
//  Contains logo at top of site configurations.
// 
//-----------------------------------------------------------------------

.logo-header
  float: left
  a
    +small-elements-sprite("logo-herbaprice-header", $offset-y: 10px)
    display: block
    width: 133px
    height: $base-line-height * 3