//-----------------------------------------------------------------------
// 
//  Modules » Plan
// 
//  Contains all Plan configurations.
// 
//-----------------------------------------------------------------------
// 
//--------------- Plan Box ---------------//

.plan
  width: 274px
  h1
    +adjust-font-size-to(28px)
    +text-shadow(0 1px 1px rgba(0,0,0,.5))
    +border-radius(4px 4px 0 0)
    +background-image(linear-gradient(bottom, #4e5769, #6b7587))
    +box-shadow(inset 0px 1px 1px rgba(255,255,255,.65))
    +rhythm-borders(1px, 1, 28px)
    color: #f5f5f5
    background: #5f697c
    border-color: #4e5769
    text-align: center
  sup
    +adjust-font-size-to(16px)

//--------------- Plan Features ---------------//

.plan-features
  margin: 0
  padding: 0
  list-style: none
  background-color: #f5f5f5
  list-style: none
  li
    +apply-side-rhythm-border($side: left, $width: 1px, $lines: 2)
    +apply-side-rhythm-border($side: right, $width: 1px, $lines: 1)
    +rhythm($padding-leader: 1, $padding-trailer: 0)
    +trailing-border($width: 1px, $lines: 1)
    border-color: #ccc

.plan-features-present
  background: url('list-style-present.png') no-repeat 5% center
  color: #4b5361

.plan-features-not-present
  color: #8b8f96
  background: url('list-style-not-present.png') no-repeat 5% center

.plan-call-to-action
  +rhythm-borders(1px, 1)
  +border-radius(0px 0px 4px 4px)
  border-top: 0
  border-color: #ccc
  background-color: #f5f5f5


//--------------- Plan price ---------------//

.plan-price
  +rhythm-borders(1px, 1)
  +font-weight("bold")
  border-color: #ccc
  text-align: center
  color: #4b5361
  background: #ececec

.plan-price-value
  +adjust-font-size-to(32px)

.plan-price-frequency
  +adjust-font-size-to(22px)

.plan-price-notes
  +font-weight("normal")
  display: block








