//-----------------------------------------------------------------------
// 
//  Modules » Subscription
// 
//  Contains all subscription sections configurations.
// 
//-----------------------------------------------------------------------
// 
//--------------- Subscription call to action (on home) ---------------//

.subscription-call-to-action-title
  +adjust-font-size-to(42px, 2)
  color: #434b61

//--------------- Independent Subscription Box ---------------//

.subscription-box
  p, h1
    line-height: $base-line-height
  p
    +adjust-font-size-to(13px)
    margin: 0
  h1
    +adjust-font-size-to(14px)

//--------------- Subscription Page ---------------//

.subscription-page-form
  form
    margin-left: 30px