<p>Seja bem vindo <%= @resource.name %>!</p>

<p>Para confirmar sua conta, clique no link abaixo:</p>

<p><%= link_to 'Confirmar minha conta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
